<%= simple_form_for(@guest_order, url: guest_orders_path, defaults: { label: false, input_html: { :class => 'transparent' }}) do |f| %>

  <%= f.input :first_name, placeholder: 'First name', autofocus: true %>

  <%= f.input :last_name, placeholder: 'Last name' %>

  <%= f.input :phone_number, placeholder: 'Phone number' %>

  <%= f.input :email, placeholder: 'Email' %>

  <%= f.input :password, placeholder: 'Password' %>

  <%= f.input :password_confirmation, placeholder: 'Password confirmation' %>

  <hr>

  <%= f.input :rent_id, collection: Rent.all, selected: @guest_order.rent_id, prompt: 'Select a rent' %>

  <%# @TODO Think of extracting this in a partial (repeated in orders form) %>
  <% if @guest_order.user.vehicles.many? %>
    <%= f.association :vehicle, collection: @guest_order.user.vehicles, prompt: 'Select a vehicle' %>

  <% elsif @guest_order.user.vehicles.one? %>
    <%= f.association :vehicle, collection: @guest_order.user.vehicles, selected: @order.user.vehicles.first %>
  <% end %>

  <h3>Add a vehicle</h3>
  <%= render 'vehicles/fields', f: f %>

  <%= f.button :submit, data: { disable_with: 'Please wait ...' }, :class => 'btn btn-primary btn-block' %>
<% end %>
