<% present rent do |rent| %>
  <%= content_tag_for(:article, rent) do %>
    <header>
      <h2><%= rent.title %></h2>
    </header>

    <ul>
      <li><%= rent.price %></li>
    </ul>

    <% present rent.schedule do |schedule| %>
      <ul>
        <li><%= schedule.start_time %></li>
        <li><%= schedule.end_time %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>
