<%= content_tag_for(:article, order) do %>
  <header></header>

  <ul>
    <li><%= order.id %></li>
  </ul>

  <footer>
    <% if order.readable_by?(current_user) %>
      <%= link_to 'Show', order_path(order) %>
    <% end %>

    <% if order.updatable_by?(current_user) %>
      <%= link_to 'Edit', edit_order_path(order) %>
    <% end %>

    <% if order.deletable_by?(current_user) %>
      <%= link_to 'Destroy', order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </footer>
<% end %>
