<%= simple_form_for @parking do |f| %>

  <%= f.input :location %>

  <%= f.simple_fields_for :rents do |rent_form| %>
    <hr>

    <h3><%= rent_form.object.title %></h3>

    <%= render 'rent_fields', f: rent_form %>
  <% end %>

  <%= link_to_add_association('add rent', f, :rents, { :class => 'btn btn-primary' }) %>

  <hr>

  <%= f.button :submit, data: { disable_with: 'Please wait ...' }, :class => 'btn btn-primary' %>
<% end %>
