<%= content_tag_for(:article, parking) do %>
  <div class="row">
    <div class="col col-lg-8">

      <img src="http://placehold.it/600" alt="">

      <hr>

      <h2>Rentals</h2>

      <% parking.rents.each do |rent| %>
        <%= content_tag_for(:article, rent) do %>
          <ul>
            <li><%= rent.price %></li>
            <li><%= rent.beginning %></li>
            <li><%= rent.termination %></li>
          </ul>
        <% end %>
      <% end %>

    </div><!-- /.col -->

    <div class="col col-lg-4">
      <header>
        <h1><%= parking.location %></h1>
      </header>
    </div>
  </div><!-- /.col -->

  <footer></footer>
<% end %>
