<%= content_tag_for(:article, parking) do %>
  <div class="row">
    <div class="col col-lg-8">

      <img src="http://placehold.it/600" alt="">

      <hr>

      <h2>Rentals</h2>

      <% if parking.rents.any? %>
        <%= render partial: 'rents/rent_listing', collection: parking.rents, as: :rent %>
      <% else %>
        <p><%= I18n.t('parkings.show.rents.empty_state') %></p>
      <% end %>

    </div><!-- /.col -->

    <div class="col col-lg-4">
      <header>
        <h1><%= parking.location %></h1>
      </header>

      <div class="map js-mapbox" data-lat="<%= parking.latitude %>" data-lon="<%= parking.longitude %>" data-zoom="5"></div>

    </div>
  </div><!-- /.col -->

  <footer></footer>
<% end %>
