<div class="row">
  <div class="col col-lg-8 col-offset-2">
    <h2 class="text-center">Find parkings</h2>

    <div class="row">
      <%= simple_form_for :search, url: parkings_path, method: :get do |f| %>

        <div class="col col-lg-5">
          <%= f.input :location, placeholder: 'location', label: false %>
        </div>

        <div class="col col-lg-1">
          <%= f.input :distance, placeholder: 'distance', label: false %>
        </div>

        <div class="col col-lg-2">
          <%= f.input :begining, input_html: { class: 'datepicker' }, placeholder: 'begining', label: false %>
        </div>

        <div class="col col-lg-2">
          <%= f.input :termination, input_html: { class: 'datepicker' }, placeholder: 'termination', label: false %>
        </div>

        <div class="col col-lg-2">
          <%= f.button :submit, 'Search', :class => 'btn btn-default' %>
        </div>
      <% end %>
    </div>

  </div>
</div><!-- /.row -->
