<!DOCTYPE html>
<html>
<head>
  <title>ParkRent</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  <%= render :partial => 'layouts/flash', :object => flash %>

  <%= yield %>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js" %>
  <%= javascript_include_tag :application, "data-turbolinks-track" => true %>
  <%= yield :scripts %>
</body>
</html>
